.icons-div {
  display: flex;
  flex-direction: column;
  font-family: "Muli";
  margin-bottom: 100px;
  .text {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    p {
      font-size: 21px;
    }
  }
  .icons {
    display: flex;
    justify-content: space-evenly;
    .icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .image {
        width: 25px;
      }
      p {
        font-size: 15px;
      }
    }
  }
}
@media (max-width: 800px) {
    
}
@media (max-width: 900px) {
  .icons-div {
    .icons {
      flex-direction: column;
      .icon {
        margin: 20px 0;
      }
    }
  }
}
